#navbar {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 5px;
	background-color: var(--primary-color-4);
	height: 50px;
}

#navbar a {
	height: 30px;
	color: var(--secondary-color);
	margin-right: 30px;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	transition: color 0.2s ease;
	border: 1px solid var(--accent-primary-60);
	border-radius: 10px;
	background-color: var(--primary-color-4);
	padding: 5px;
}

#navbar a:hover {
	cursor: pointer;
	color: var(--secondary-warning-color);
	border-color: var(--secondary-warning-color);
	border-width: 2px;
}
