.buttont {
	padding: 8px 18px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	transition:
		background-color 0.5s ease,
		background 0.5s ease,
		color 0.5s ease;
}

.buttont:focus-visible {
	box-shadow: 0 0 0 2px var(--focused-border-color);
}

.buttont {
	background-color: var(--secondary-color-4);
	color: var(--primary-color);
}
.buttont:hover {
	background-color: var(--accent-primary-100);
	color: var(--secondary-color-2);
}
.buttont:active {
	background-color: var(--accent-primary-40);
}
